<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/forest.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <img class="n-logo" src="assets/img/now-logo.png" alt="">
                <h1>Forest Lover</h1>
                <h3>Con la mente en el Bosque</h3>
            </div>
        </div>
    </div>
    
    <div class="section section-contact-us text-center">
        <div class="container">

          <form (ngSubmit)="addBosque(form.value)" #form="ngForm"> 
            <h2 class="title">Agrega un Bosque</h2>
            <p class="description">Comparte un bosque con el resto de personas</p>

            <div class="row justify-content-center">
              <div class="col-md-1 align-text">
                <h6>Nombre: </h6>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <input type="text" name="nombre" value="" placeholder="Nombre" class="form-control" ngModel/>
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-md-1 align-text">
                <h6>Zona: </h6>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <select name="zona" id="zona" class="form-control" ngModel>
                    <option value=""></option>
                    <option value="Norte">Norte</option>
                    <option value="Sur">Sur</option>
                    <option value="Centro">Centro</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-md-1 align-text">
                <h6>URL de Imagen: </h6>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                    <input type="text" name="img_url" value="" placeholder="Nombre" class="form-control" ngModel/>
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-md-1 align-text">
                <h6>Coordenadas: </h6>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <input type="text" name="coords" value="" placeholder="Latitud,Longitud" class="form-control" ngModel/>
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-md-1 align-text">
                <h6>Descripción: </h6>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <input type="text" name="descripcion" value="" placeholder="Descripción" class="form-control" ngModel/>
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-md-1 align-text">
                <h6>Dirección: </h6>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <input type="text" name="direccion" value="" placeholder="Dirección" class="form-control" ngModel/>
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-md-1 align-text">
                <h6>Precio: </h6>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                    <input type="text" name="precio" value="" placeholder="Ej: 3$ la entrada por persona" class="form-control" ngModel/>
                </div>
              </div>
            </div>
            
            <button type="submit" class="btn btn-primary btn-enviar" id="btnEnviar">Enviar</button>
          </form>
        </div>
    </div>
    
    <footer class="bg-light text-center text-lg-start">
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-dark" href="/inicio">FOREST LOVER</a>
      </div>
  </footer>
</div>
