<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/soccer-bg2.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <img class="n-logo" src="assets/img/now-logo.png" alt="">
                <h1>Futfinder</h1>
                <h3>Con la mente en el juego</h3>
            </div>
        </div>
    </div>
    <div class="section section-team text-center">
        <div class="container">
            <h2 class="title">Nuestro equipo de desarollo</h2>
            <div class="team">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/default-avatar.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Lenin Freire</h4>
                            <p class="category text-primary">Ingeniero en computación</p>
                            <p class="description">Futuro Director de Proyectos informáticos. Realizar análisis de riesgos es mi pasión.</p>
                                <a href="/equipo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                                <a href="/equipo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
                                <a href="/equipo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/ryan.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Alejandro Paz</h4>
                            <p class="category text-primary">Ingeniero en computación</p>
                            <p class="description">Fan de Barcelona SC. Con Dios y El Kitu Diaz todo se puede. "Las fotos engañan" - Ghandi</p>
                                <a href="/equipo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                                <a href="/equipo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/kevin.jpeg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised resize-img">
                            <h4 class="title">Kevin Bautista</h4>
                            <p class="category text-primary">Ingeniero en computación</p>
                            <p class="description">Amante del sushi. Ciudadano del mundo. Actualmente en Colombia.</p>
                                <a href="/equipo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
                                <a href="/equipo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-youtube"></i></a>
                                <a href="/equipo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2020 Copyright:
          <a class="text-dark" href="/inicio">Futfinder</a>
        </div>
    </footer>
</div>
