<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/forest2.png');">
        </div>
        <div class="container">
            <div class="content-center">
                <img class="n-logo" src="assets/img/now-logo.png" alt="">
                <h1>Forest Lover</h1>
                <h3>Con la mente en el Bosque</h3>
            </div>
        </div>
    </div>
    <div class="section section-contact-us text-center">
        <div class="container">
          <form (ngSubmit)="contactForm(form.value)" #form="ngForm"> 
            <h2 class="title">¿Tienes alguna duda?</h2>
            <p class="description">Déjanos un mensaje y te contestaremos lo más pronto posible</p>
            <div class="row justify-content-center">
              <div class="col-md-1 align-text">
                <h6>Nombre: </h6>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <input type="text" name="Nombre" value="" placeholder="Nombre" class="form-control" ngModel/>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-1 align-text">
                <h6>Género: </h6>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <select name="Genero" id="genero" class="form-control" ngModel>
                    <option value=""></option>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                    <option value="Otro">Otro</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-1 align-text">
                <h6>Orígen: </h6>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <select name="Origen" id="origen" class="form-control" ngModel>
                    <option value=""></option>
                    <option value="Guayaquil">Guayaquil</option>
                    <option value="Quito">Quito</option>
                    <option value="Cuenca">Cuenca</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-1 align-text">
                <h6>Fec.nac.: </h6>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <input type="date" name="Fecha" value="" placeholder="Fecha de nacimiento" class="form-control" ngModel/>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-1 align-text">
                <h6>Celular: </h6>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <input type="tel" name="Celular" value="" placeholder="Celular" class="form-control" ngModel/>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-1 align-text">
                <h6>Correo: </h6>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <input type="text" name="Correo" value="" placeholder="Correo" class="form-control" ngModel/>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-1 align-text">
                <h6>Detalles: </h6>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <textarea name="Detalles" class="form-control area-borders" rows="4" cols="80" placeholder="Escribe el mensaje..." ngModel></textarea>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-enviar" id="btnEnviar">Enviar</button>
          </form>
        </div>
    </div>
    
    
    <footer class="bg-light text-center text-lg-start">
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-dark" href="/inicio">FOREST LOVER</a>
      </div>
  </footer>
</div>